<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanda Tangan</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 50px;
            text-align: center;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        .signature {
            margin-top: 10px; /* Memberikan sedikit jarak */
        }
    </style>
</head>
<body>

<div class="container">
    <p>Pasar Bukit Air Haji, 3 Februari</p>
    <div class="signature">
        <p>Pimpinan</p>
        <p>(Markis S)</p>
    </div>
</div>

</body>
</html>
